.theme_one_background {
  background: url("../images/background/fonas2.png") no-repeat;
  width: 100%;
  height: 1080px;
  background-position: center;
  background-size: cover;

  .background {
      background: url("../images/background/konturas2.png") no-repeat;
      width: 960px;
      background-position: center;
      background-size: cover;


    .container_2 {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 700px;

      .sticky {
        position: fixed;
        top: 50px;
      }

      .back_button {
        width: 170px;
        height: 81px;
        font-size: 22px;
        border-radius: 20px;
        background-color: $buttonBackground;
        color: $buttonTextColor;
        border: 2px solid $buttonBorderColor;
      }

      .border {
        border: 4px solid $videoThemeOneBorderColor;
        border-radius: 20px;
      }
    }
  }
}
