// **** global body color *** //

$bodyGlobalcolor: #292a62;

// ****** Main menu variables ********* //
$blendModeColor: rgba(0,0,0,0.46);
$buttonBackground: #292a62;
$buttonTextColor: white;
$buttonBorderColor: white;
// hover effect variables
$buttonHoverBackground: white;
$buttonHoverTextColor: #1b2638;

// ****** theme_one ****** //

$backgroundThemeOneColor:  rgba(255,255,255,0.56);
$buttonThemeOneTextColor: #1b2638;
$videoThemeOneBorderColor: #1b2638;

// ****** theme_two ****** //

$backgroundThemeTwoColor:  rgba(255,255,255,0.56);
$buttonThemeTwoTextColor: #1b2638;
$videoThemeTwoBorderColor: #1b2638;

// ****** theme_three ****** //

$backgroundThemeThreeColor:  rgba(255,255,255,0.56);
$buttonThemeThreeTextColor: #1b2638;
$videoThemeThreeBorderColor: #1b2638;

// BOTH CARD GAME VARIABLES //

$cardGameMainBackButtonTextColor: #1b2638;
$cardGamesBackground: #1b2638;  // background: #0cd1bd;
$cardBackButtonTextColor: #1b2638;
$cardColor: snow;
$cardBorder: 4px solid white;

// theme_two_main variables //
$themeTwoMainBackButtonTextColor: #1b2638;
